h1{
    color:rgb(215, 4, 4);
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
    font-size: 45px;
}

body{
background-color:#ffe6a7;
}
/* }p{ 
    color:black ;
} */
.hello{
font-weight: 900;
font-size:x-large ;
}